{% extends 'base.html' %}
{% load static i18n %}
{% load humanize %}

{% block title %}
MM | Main page
{% endblock title %}

{% block body %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
        {% if post_list|length > 0 %}

          {% for el in post_list|slice:":5" %}
            <div class="item">
              <img src="{% static 'assets/images/banner-item-01.jpg' %}" alt="{{ el.title }}">
              <div class="item-content">
                <div class="main-content">
                  <div class="meta-category">
                    <span>{{ el.category.name }}</span>
                  </div>
                  <a href="{{ el.get_absolute_url }}"><h4>{{ el.title }}</h4></a>
                  <ul class="post-info">
                    {% if el.author.first_name != "" %}
                      <li><a href="#">{{ el.author.first_name }}</a></li>
                    {% else %}
                      <li><a href="#">{{ el.author }}</a></li>
                    {% endif %}
                      <li><a href="#">{{ el.date|timesince }} ago</a></li>
                    <li><a href="#">12 Comments</a></li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}

        {% else %}
        <div class="col-lg-12">
            <h1 class="font-weight-bold">{% translate "No posts" %}</h1>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>{% translate "MIRSAID.UZ web fullstack courses" %}</span>
                  <h4>{% translate "Creative Front-end and back-end courses for you!" %}</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="https://templatemo.com/tm-551-stand-blog" target="_parent">{% translate "Start free trial!" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
              {% if post_list|length > 0 %}

                {% for el in post_list|slice:":3" %}
                  <div class="col-lg-12">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="{% static 'media/' %}{{ el.image }}" alt="{{ el.title }}">
                      </div>
                      <div class="down-content">
                        <span>{{ el.category.name }}</span>
                        <a href="{{ el.get_absolute_url }}"><h4>{{ el.title }}</h4></a>
                        <ul class="post-info">
                          {% if el.author.first_name != "" %}
                            <li><a href="#">{{ el.author.first_name }}</a></li>
                          {% else %}
                            <li><a href="#">{{ el.author }}</a></li>
                          {% endif %}
                          <li><a href="#">{{ el.date|timesince }} ago</a></li>
                          <!-- <li><a href="#">12 Comments</a></li> -->
                        </ul>
                        <p>{{ el.intro }}</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-6">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                {% for tag in el.GetTags %}
                                    <li><a href="{% url 'tag' %}?q={{tag.name}}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}</li>
                                {% endfor %}
                                <!-- <li><a href="#">Nature</a></li> -->
                              </ul>
                            </div>
                            <div class="col-6">
                              <ul class="post-share">
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><a href="#">Facebook</a>,</li>
                                <li><a href="#"> Twitter</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}

              {% else %}
                  <div class="col-lg-12">
                      <h1 class="font-weight-bold">{% translate "No posts" %}</h1>
                  </div>
              {% endif %}
                
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="/blog/">{% translate "View All Posts" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          {% include 'include/sidebar.html' %}

        </div>
      </div>
    </section>

    
    {% include 'include/footer.html' %}

{% endblock body %}