<!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>mirsaid<em>.</em>uz</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about/">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>

            </ul>
          <ul class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <h3 class="nav-link text-uppercase">{{request.user.username}}</h3>
                </li>
                <li class="nav-item">
                  <h3 class="nav-link text-uppercase"><a href="logout" title="log out">🚪</a></h3>
                </li>
                
              {% else %}
                <li class="nav-item">
                  <a class="btn btn-outline-dark" href="/signup/">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-dark" href="/login/">Log in</a>
                </li>
              {% endif %}
          </ul>
          </div>
        </div>
      </nav>
    </header>




