{% load i18n %}
<!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>mirsaid<em>.</em>uz</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about/">About Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="">Contact Us</a>
              </li> -->

            </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"> 
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                          <input name="next" type="hidden" value="{{ redirect_to }}">
                          <select name="language" class="form-control">
                              {% get_current_language as LANGUAGE_CODE %}
                              {% get_available_languages as LANGUAGES %}
                              {% get_language_info_list for LANGUAGES as languages %}
                              {% for language in languages %}
                                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                          selected{% endif %}>
                                      {{ language.name_local }} ({{ language.code }})
                                  </option>
                              {% endfor %}
                          </select>
                          <input type="submit" value="Go">
                      </form>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <h3 class="nav-link text-uppercase">{{request.user.username}}</h3>
                </li>
                <li class="nav-item">
                  <h3 class="nav-link text-uppercase"><a href="logout" title="log out">🚪</a></h3>
                </li>
                
              {% else %}
                <li class="nav-item">
                  <a class="btn btn-outline-dark" href="/signup/">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-dark" href="/login/">Log in</a>
                </li>
              {% endif %}

          </ul>
          </div>
        </div>
      </nav>
    </header>




