{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
MM | Blog
{% endblock title %}

{% block body %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>{% translate "Recent Posts" %}</h4>
                <h2>{% translate "Our Recent Blog Entries" %}</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>{% translate "MIRSAID.UZ web fullstack courses" %}</span>
                  <h4>{% translate "Creative Front-end and back-end courses for you!" %}</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a href="https://templatemo.com/tm-551-stand-blog" target="_parent">{% translate "Start free trial!" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% if post_list|length > 0 %}

                  {% for el in post_list %}
                    <div class="col-lg-6">
                      <div class="blog-post">
                        <div class="blog-thumb">
                          <img src="{% static 'media/' %}{{ el.image }}" alt="{{ el.title }}">
                        </div>
                        <div class="down-content">
                        <span>{{ el.category.name }}</span>
                        <a href="{{ el.get_absolute_url }}"><h4>{{ el.title }}</h4></a>
                        <ul class="post-info">
                          {% if el.author.first_name != "" %}
                            <li><a href="#">{{ el.author.first_name }}</a></li>
                          {% else %}
                            <li><a href="#">{{ el.author }}</a></li>
                          {% endif %}
                          <li><a href="#">{{ el.date|date:"j-F, Y" }}</a></li>
                        </ul>
                          <p>{{ el.intro }}</p>
                          <div class="post-options">
                            <div class="row">
                              <div class="col-lg-12">
                                <ul class="post-tags">
                                  <li><i class="fa fa-tags"></i></li>
                                  {% for tag in el.GetTags %}
                                    <li><a href="{% url 'tag' %}?q={{tag.name}}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}</li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                  {% else %}
                      <div class="col-lg-12">
                          <h1 class="font-weight-bold">{% translate "No posts" %}</h1>
                      </div>
                  {% endif %}

                <div class="col-lg-12">
                  <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          {% include 'include/sidebar.html' %}
          
        </div>
      </div>
    </section>

    
    {% include 'include/footer.html' %}
    
{% endblock body %}